.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  animation-direction: alternate;
  height: 40vmin;
}

.button {
  color: #282c34;
  background-color: #282c34;
  visibility: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0.99)
  }
  to {
    transform: scale(1.01)
  }
}

body {
  background-color: #282c34;
  color: white;
}